.header {
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px solid #ECECEC;

    @media screen and (min-width: 1200px) {
        justify-content: center;
    }

}
.header_logo {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 134px;    
}
.header__container {
    margin: 0;
    

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}
.header_modile-menu {
    display: block;
          
    @media screen and (min-width: 767px) {
        display: none;
    }    
}
.header_desktop-menu {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
    }
    @media screen and (min-width: 1200px) {
        align-items: baseline;
    }
}
.header_content {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}
.header_mobile-content {
    display: none;
    padding-top: 48px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: fixed;
    background-color: var(--primary-bgc-color);
    z-index: 1;
    
    &.is-open {
        display: flex;
    }    
}

.header_menu-button {
    display: inline-flex;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 11px;
    right: 23px;
    z-index: 2;
    
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}
.header_menu-button .header_icon-close {
    display: none;
}
.header_menu-button.is-open .header_icon-close {
    display: block;
}
.header_menu-button.is-open .header_icon-menu {
    display: none;
}
.header_menu-button.is-open {
    position: fixed;
}

.header_social {
    display: flex;
    margin-left: 40px;
    flex-direction: row;
    padding-bottom: 48px;
    & span {
        color: rgba(33, 33, 33, 0.2);;
    }
}
.header_social-link {
    font-weight: var(--secondary-font-weight);

    color: var(--accent-color);
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    margin-left: 10px;
    margin-right: 10px;
}