.header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ECECEC;

}

.header__container {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
    
    margin: 0;   

}

.header-content {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        }
    
}
