body {
    background: var(--primary-bgc-color);
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a:link {
    text-decoration: none;
}

.container {
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 480px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
            max-width: 768px;
        }

    @media screen and (min-width: 1200px) {
            max-width: 1200px;
    }    
}