
:root {
    --logo-color: #000000;
    --primary-text-color: #212122;
    --secondary-text-color: #757575;
    --footer-text-color: #FFFFFF;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --icon-color: #AFB1B8;
    --accent-color: #2196F3;
    --primary-bgc-color: #FFFFFF;
    --section-bgc-color: #E5E5E5;
    --main-footers-bgc-color: #2F303A;
    --btn-bg-color: #2196F3;
    --sec-studio-btn-bgc: #F5F4FA;

    --primary-font-family: roboto, sans-serif;

    --primary-font-weight: 400;
    --secondary-font-weight: 500;
    --title-font-weight: 700;
    --hero-font-weight: 900;

}